body { @include typeface; }

::-moz-selection{ background:$emphasis-color; color:#fff; text-shadow: none; }
::selection { background:$emphasis-color; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: $emphasis-color; }